.actor-main {
  box-sizing: border-box;
  width: 32%;
  height: 200px;
  margin: calc(4% / 6);
  padding: calc(4% / 6);
  border: 1px solid gray;
  border-radius: 3px;
  order: 1;
}

.actor-title {
  text-align: left;
  margin: 0;
}

.actor-detail-div {
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.actor-detail-part {
  width: 50%;
  overflow: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
}

.actor-movie-item {
  text-decoration: underline;
  margin: 0.5em 0;
  color: blue;
}

.actor-movie-item:hover {
  color: blueviolet;
  cursor: pointer;
}

.actor-view {
  z-index: -1;
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  perspective: 200;
}

.plane {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: rotate 20s infinite linear;
}
.plane.main .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px crimson, inset 0 0 60px crimson;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: crimson;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px crimson;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}