.film-main {
  box-sizing: border-box;
  width: 98%;
  border: 1px solid gray;
  border-radius: 3px;
  height: auto;
  margin: 1%;
  padding: 1%;
}

.film-title {
  display: inline;
  text-align: left;
  margin: 0;
}

.film-moreinfo-button {
  background-color: transparent;
  float: right;
  height: 2em;
}

.film-detail-div {
  overflow: hidden;
  text-align: justify;
}

.film-date {
  font-size: smaller;
  text-align: right;
}

.film-character-list {
  display: flex;
  flex-wrap: wrap;
}

.film-subarray {
  display: flex;
  flex-wrap: wrap;
}
