.filmcard-main{
    box-sizing: border-box;
    width: 32%;
    height: 200px;
    margin: calc(4% / 6);
    padding: calc(4% / 6);
    border: 1px solid gray;
    border-radius: 3px;
    order: 1;
}

.filmcard-title{
    text-align: left;
    margin: 0;
}

.filmcard-title-link{
    text-decoration: none;
    color: black;
}
.filmcard-title-link:hover{
    color: darkslateblue;
}

.filmcard-detail-div{
    height: 100px;
    overflow: hidden;
    text-align: justify;
}

.filmcard-date{
    font-size: smaller;
    text-align: right;
}