.home-main {
  width: 98%;
  margin: 1%;
  text-align: center;
}

.home-search-bar {
  width: 90%;
  height: 2em;
  margin: 5px auto;
  padding: 1em 2em;
  border: 1px solid gray;
  border-radius: 1em;
  outline: none;
}

.home-search-bar:focus {
  background-color: lightgray;
}

.home-list {
  border-top: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
}
