.home-main {
  width: 98%;
  margin: 1%;
  text-align: center;
}

.home-search-bar {
  background-color: var(--main-color-effect-primary);
  width: 90%;
  height: 2em;
  margin: 5px auto;
  padding: 1em 2em;
  border: 1px solid var(--main-color-border);
  border-radius: 1em;
  outline: none;
}

.home-search-bar:focus {
  background-color: var(--main-color-effect-secondary);
}

.home-list {
  border-top: 1px solid var(--main-color-border);
  display: flex;
  flex-wrap: wrap;
}


.star, .wars {
  display: block;
  margin: 0 auto;
}

.starwars {
  perspective: 800px;
  transform-style: preserve3d;
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}