.paginator-main {
  text-align: center;
}

.paginator-item {
  border: 1px solid var(--main-color-border);
  border-radius: 0;
  margin: 0;
  height: 2em;
  width: 2em;
  text-align: center;
  background-color: darkslategray;
}

.paginator-next,
.paginator-prev {
  width: 4em;
}

.paginator-item:first-child {
  border-radius: 5px 0 0 5px;
}

.paginator-item:last-child {
  border-radius: 0 5px 5px 0;
}

.paginator-item:focus {
  outline: none;
}

.paginator-item:hover {
  border:1px solid var(--main-color-effect-secondary);
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0 2px 5px 0 var(--main-color-secondary);
}

.paginator-item-active {
  background-color: darkslateblue;
}
