.starshipscard-main{
    box-sizing: border-box;
    width: 48%;
    height: 200px;
    margin: 1%;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 3px;
    order: 1;
}

.starshipscard-title{
    text-align: left;
    margin: 0;
}

.starshipscard-title-link{
    text-decoration: none;
    color: black;
}
.starshipscard-title-link:hover{
    color: darkslateblue;
}

.starshipscard-detail-div{
    height: 100px;
    overflow: hidden;
    text-align: justify;
}
